<h1>Student details</h1>
<div>
  <div>
    <label class="id">ID: <span>{{student.id}}</span></label>
  </div>

  <div>
    <label class="first-name">First Name: <span>{{student.firstName}}</span></label>
    <input type="text" [(ngModel)]="student.firstName" placeholder="First Name">
  </div>

  <div>
    <label class="last-name">Last Name: <span>{{student.lastName}}</span></label>
    <input type="text" [(ngModel)]="student.lastName" placeholder="LastName">
  </div>

  <button class="btn" (click)="onUpdate()">Update</button>

  <button (click)="goBack()">Back</button>
</div>
