<h1>Problem details</h1>
<div>
  <div>
    <label class="id">ID: <span>{{problem.id}}</span></label>
  </div>

  <div>
    <label class="first-name">Description: <span>{{problem.description}}</span></label>
    <input type="text" [(ngModel)]="problem.description" placeholder="Description">
  </div>

  <div>
    <label class="last-name">Difficulty: <span>{{problem.difficulty}}</span></label>
    <input type="text" [(ngModel)]="problem.difficulty" placeholder="Difficulty">
  </div>

  <button class="btn" (click)="onUpdate()">Update</button>
</div>
