div {
  display: flex;
  flex-direction: column;
}



.id, .id span {
  font-size: 20px;
}


.first-name, .first-name span {
  font-size: 30px;
}

.last-name, .last-name span{
  font-size: 20px;
}

div div{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

div div span {
  color: darkblue;
  font-family: sans-serif;
}

div div input {
  margin-left: 10px;
}

.btn {
  width: 130px;
  height: 40px;
  font-size: 25px;
  font-family: monospace;
  background-color: darkslateblue;
  color: white;
  border: 1px solid black;
}

.btn:hover {
  border: 2px solid white;
}

