<h1>Grade details</h1>
<div>
  <div>
    <label class="id">Student ID: <span>{{grade.student.id}}</span></label>
    <label class="first-name">First Name: <span>{{grade.student.firstName}}</span></label>
    <label class="last-name">Last Name: <span>{{grade.student.lastName}}</span></label>
  </div>

  <div>
    <label class="id">Problem ID: <span>{{grade.problem.id}}</span></label>
    <label class="first-name">Description: <span>{{grade.problem.description}}</span></label>
    <label class="last-name">Difficulty: <span>{{grade.problem.difficulty}}</span></label>
  </div>

  <div>
    <label class="id">Grade : <span>{{grade.actualGrade}}</span></label>
    <input type="number" [(ngModel)]="grade.actualGrade" placeholder="Grade">
  </div>

  <button class="btn" (click)="onUpdate()">Update</button>
</div>
