body {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 ;
}

div {
  width: 100%;
  margin: auto 0;
  position: absolute;
  top: 45%;
  text-align: center;
}

div ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0;
  margin: auto auto;
  justify-content: center;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 30px;
  font-family: sans-serif;
}

li a{
  color: black;
  text-decoration: none;
  border: 3px solid darkblue;
  padding: 5px;
  margin: 0 2px;
  width: 12%;
}

a:hover {
  background-color: dodgerblue;
}
