<h1>Grades</h1>
<button (click)="goBack()">Back</button>
<div class="sort-div">
  <div class="sort-item">
    <label for="sortStudentId">Student ID: </label>
    <select id="sortStudentId" #sortStudentId>
      <option value="none">None</option>
      <option value="asc">Asc</option>
      <option value="desc">Desc</option>
    </select>
  </div>
  <div class="sort-item">
    <label for="sortProblemId">Problem ID: </label>
    <select id="sortProblemId" #sortProblemId>
      <option value="none">None</option>
      <option value="asc">Asc</option>
      <option value="desc">Desc</option>
    </select>
  </div>
  <div class="sort-item">
    <label for="sortActualGrade">Grade: </label>
    <select id="sortActualGrade" #sortActualGrade>
      <option value="none">None</option>
      <option value="asc">Asc</option>
      <option value="desc">Desc</option>
    </select>
  </div>
  <button (click)="onSort()">
    Sort
  </button>
</div>


<ul>
  <li *ngFor="let grade of grades"
      class="item">
    <a (click)="onSelect(grade)">
      {{grade.studentId}} {{grade.problemId}} {{grade.actualGrade}}
    </a>
    <button (click)="remove(grade.id)">Remove</button>
  </li>
</ul>
<div class="pages">
  <button [disabled]="currentPage === 0" (click)="onLeft()"><</button>
  <label>{{currentPage + 1}}</label>
  <button [disabled]="(currentPage + 1)*5 >= nrOfPages" (click)="onRight()">></button>
</div>
<hr>
<div>
  <app-grade-add [currentPage]="currentPage"></app-grade-add>
</div>

