<h1>Students</h1>
<button (click)="goBack()">Back</button>

<div class="sort-div">
  <div class="sort-item">
    <label for="sortId">ID: </label>
    <select id="sortId" #sortId>
      <option value="none">None</option>
      <option value="asc">Asc</option>
      <option value="desc">Desc</option>
    </select>
  </div>
  <div class="sort-item">
    <label for="sortFirstName">First Name: </label>
    <select id="sortFirstName" #sortFirstName>
      <option value="none">None</option>
      <option value="asc">Asc</option>
      <option value="desc">Desc</option>
    </select>
  </div>
  <div class="sort-item">
    <label for="sortLastName">Last Name: </label>
    <select id="sortLastName" #sortLastName>
      <option value="none">None</option>
      <option value="asc">Asc</option>
      <option value="desc">Desc</option>
    </select>
  </div>
  <button (click)="getSorted(0)">
    Sort
  </button>
</div>
<br>
<div class="filter-div">
  <label for="filters">Filter By:</label>
  <select name="filters" id="filters" #filterType>
    <option value="none">None</option>
    <option value="firstName">First Name</option>
    <option value="lastName">Last Name</option>
  </select>
  <input type="text" #filterArgument>
  <button (click)="getFiltered(0)">Filter</button>
</div>

<ul>
  <li *ngFor="let student of students"
      class="item">
    <a (click)="onSelect(student)">
      ({{student.id}}) {{student.firstName}} {{student.lastName}}
    </a>
    <button class="btn-remove" (click)="onRemove(student)">Remove</button>
  </li>
</ul>
<div class="pages">
  <button [disabled]="currentPage === 0" (click)="onLeft()"><</button>
  <label>{{currentPage + 1}}</label>
  <button [disabled]="(currentPage + 1)*5 >= nrOfPages" (click)="onRight()">></button>
</div>
<hr>
<div>
  <app-student-add [currentPage]="currentPage"></app-student-add>
</div>

